@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply relative px-1 text-gray-700 hover:text-red-600 transition-colors duration-300;
  }

  .nav-link::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    border-radius: 4px 4px 4px 4px ;
    width: 0;
    background-color: #dc2626; /* red-600 */
    transition: width 0.3s ease;
  }

  .nav-link:hover::before {
    width: 100%;
  }

  .nav-link-active {
    @apply text-red-600;
  }

  .nav-link-active::before {
    width: 100%;
  }
}
